.navbar {
  background-color: #2ea5e7;
}
.navbar .navbar-header .navbar-brand {
  color: #fff;
  font-weight: bold;
}
.navbar .collapse .nav li a {
  color: #fff;
  line-height: 19px;
}
.navbar .collapse .nav .active a {
  background-color: #168bcd;
}
#nav .container h5 {
  color: #3885ae;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 10px;
}
#main .form-inline {
  margin-top: 15px;
  margin-bottom: 15px;
}
#main .form-inline .form-group {
  display: inline;
}
#main .form-inline .form-group .form-control {
  width: 90%;
  display: inline;
}
#main ul {
  text-align: center;
}
#main ul li {
  margin: 7px;
}
#main ul li a {
  color: #3885ae;
  padding: 10px;
  background-color: #d9edf7;
}
#main ul li a .close {
  margin-left: 20px;
}
footer {
  margin-top: 40px;
}
footer .container {
  text-align: center;
}
